@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans:wght@300;400;500&family=Poppins:wght@100;200;300;400;600;700&family=Roboto:wght@500;700&display=swap');

/* reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-text-color:black;
    --secondary-text-color: #57759;
    --accent-color:#2294ed;
    --accent-color-dark:#1d69a3;
    --padding-inline-section:20px
}

body{
    font-family: 'Roboto Slab', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    overflow-x: hidden;
    color: var(--primary-text-color);
}

h1{
    font-size: 3rem;
    font-family: 'Gloock', serif;
}

h2{
    font-family: 'Gloock', serif;
    font-size: 2rem;
}

h3{
    font-family: 'Gloock', serif;
    font-size: 1.5rem;
}
h5{
    font-family: sans-serif;
    font-size: 1.5rem; 
}

p{
    font-family: 'Roboto Slab', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 1.25rem;
    color: var(--secondary-text-color);
    line-height: 1.8rem;
}

a{
    text-decoration: none;
    display: inline-block;
}


/* utility classes */

.small-bold-text{
    font-size: 2rem;
    font-weight: 500;
}
.container{
    max-width: 1180px;
    margin-inline: auto;
    padding-inline: var(--padding-inline-section);
}
.flex{
    display: flex;
    align-items: center;
}
.hover-link{
    color: var(--primary-text-color);
}
.hover-link:hover{
    color: var(--accent-color);
    transition: 0.2 ease-out;
}
.primary-button{
    background-color: var(--accent-color);
    border-radius: 6px;
    font-weight: 500;
    color: white !important;
    padding: 12px 24px;
    box-shadow: 0 0 2px var(--secondary-text-color);
    transition: 0.2s ease-out;
}

.primary-button:hover{
    background-color: var(--accent-color-dark);
}


/* top-banner */

.top-banner{
    background-image: url('images/banner.jpg');
}
.banner-text{
    color: white;
    padding: 15px 30px;
    text-align: center;
}

/* nav bar */
.main-nav{
    margin-top: 10px;
    justify-content: space-between;
}
.company-logo img{
    height: 100px;
}

.nav-links{
    flex-basis: 750px;
}

.nav-links ul{
    justify-content: end;
    gap: 30px;
    list-style: none;
}

/*------------------header section---------------------*/

header{
    padding: 10px var(--padding-inline-section) 0;
}

.header-section{
    justify-content: center;
    gap: 40px;
    padding-bottom: 10%;
}
.header-left{
    max-width: 40vw;
}

.header-left h1{
    margin-top: 20px;
}

.get-started-btn{
    margin-top: 20px;
}
.header-right img{
    width: 700px;
    height: 500px;
}

/* tool section  */

.cont-header{
    text-align: center;
    padding-block: 30px;
    color: var(--primary-text-color);
}
.cont-header h1{
    font-family: 'Gloock', serif;
}
.logos h3{
    font-family: 'Gloock', serif;
    margin-top: 380px;
    padding-right: 500px;
}

.logo{
    padding-top: 80px;
    height: 350px;
}


/*-------------------overview-------------------*/

.summary-section{
    padding-block: 60px;

}
.summary-header p{
    color: gray;
    text-align: center;
    font-family: 'Kalam', cursive;
    padding-bottom: 50px;
}
.summary-header h1{
    text-align: center;
}

.modal-body-p {
    padding-top: 20px;
    color: var(--secondary-text-color);
    line-height: 1.80rem;
    display: block;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-left: 70%;
}
.modal-body li{
    font-family: 'Fira Sans', sans-serif;
    font-size: 1.15rem;
}
.summary-section ul ul {
    list-style-type: circle;
    padding-left: 3%;
}
.modal-body{
    padding: 2px;
}


/*-----------------feature section--------------------*/


.feature-header{
    text-align: center;
    padding-top: 5%;
}
.feature-heading-text{
    margin-bottom: 20px;    
}
.features-area{
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 40px;
    margin-top: 20px;
}
.features-card{
    flex-direction: column;
    gap: 20px;
    max-width: 30%;
    text-align: center;
}
.features-card img{
    height: 100px;
}
.feature-header p{
    color: gray;
    text-align: center;
    font-family: 'Kalam', cursive;
    padding-bottom: 50px;
}



/*----------------Gobal-Sales----------------- */

.sales-header{
    text-align: center;
    padding-top: 20%;
}
.sales-header p{
    color: gray;
    text-align: center;
    font-family: 'Kalam', cursive;
    padding-top: 2%;
    padding-bottom: 4%;
}
.sales-section{
    display: flex;
    justify-content: center;
    align-items: center;
}
.content{
    height: 540px;
    width: 600px;
}
.content div{
    display: flex;
    align-items: center;
}
.content .image{
    height: 100px;
    padding-left: 40px;
}

.content .bar{
    height: 80px;
    width: 450px;
    background: white;
    border-radius: 40px;
    position: relative;
    margin-left: 20px;
    overflow: hidden;
    box-shadow: 2px 5px 10px #999;
}
.content  .progress{
    height: 80px;
    border-radius: 40px;
    background: linear-gradient(to right, var(--clr1), var(--clr2));
}
.content div .bar h1{
    position: absolute;
    right: 10px;
    color: var(--clr1);
    font-weight: 500;
    font-size: 35px;
}
.content div .bar h2{
    position: absolute;
    left: 30px;
    color: #fff;
    font-weight: 600;
    font-size: 25px;
}
.sales-container{
    margin-left: 10%;
    padding-right: 12%;
    font-size: smaller;
    padding-top: 15%;
    padding-bottom: 10%;
}
.sales-container li{
    font-size: 1.20rem;
}

/* ----------------platform-------------*/

.platform-section{
    width: 600px;
    box-shadow: 5px 5px 10px lightgray;
    border-radius: 10px;
    padding: 25px 30px;
}
.platform-section .platform-bar{
    margin: 20px 0;    
}
.platform-section .platform-bar:first-child{
    margin-top: 0px;    
}

.platform-section .platform-bar .progress-line{
    position: relative;
    height: 10px;
    width: 100%;
    background: #f0f0f0;
    border-radius: 10px;
    transform: scaleX(0);
    transform-origin: left;
    box-shadow: inset 0px 1px 1px rgba(0,0,0,0.05),
              0px 1px 1px rgba(255,255,255,0.8);
    animation: animate 1s cubic-bezier(1,0,0.5,1) forwards;
}
.platform-bar .progress-line span{
    height: 100%;
    width: 80%;
    background: blueviolet;
    position: absolute;
    transform: scaleX(0);
    transform-origin: left; 
    animation: animate 1s 1s cubic-bezier(1,0,0.5,1) forwards           
}
@keyframes animate {
    100%{
        transform: scaleX(1);
    }
}
.progress-line.Wii span{
    width: 50%;
}
.progress-line.DS span{
    width: 98%;
}
.progress-line.X360 span{
    width: 59%;
}
.progress-line.PS3 span{
    width: 54%;
}
.progress-line.PS2 span{
    width: 97%;
}
.progress-line.PSP span{
    width: 44%;
}

.platform-bar .progress-line span::before{
    position: absolute;
    content: "";
    right: 0;
    top: -10px;
    height: 0;
    width: 0;
    border: 7px solid transparent;
    border-right-width: 0px;
    border-top-color: #000;
    opacity: 0;
    animation: showText2 0.5s 1.5s linear forwards;
}

.platform-bar .progress-line span::after{
    position: absolute;
    right: 0;
    top: -22px;
    color: #fff;
    background: #000;
    font-size: 15px;
    padding: 1px 8px;
    opacity: 0;
    animation: showText2 0.5s 2.5s linear forwards;            
}
@keyframes showText2 {
    100%{
        opacity: 1;
    }
    
}
.progress-line.Wii span::after{
    content: "1325";
}
.progress-line.DS span::after{
    content: "2163";
}
.progress-line.X360 span::after{
    content: "1265";
}
.progress-line.PS3 span::after{
    content: "1329";
}
.progress-line.PS2 span::after{
    content: "2161";
}
.progress-line.PSP span::after{
    content: "1213";
}


/* -----------------Publisher------------ */

body{
    color: #212121;
    -webkit-font-smoothing:antialiased;
    padding: 2%;
}
.wrap h1{
    font-family: 'Gloock', serif;
    text-align: center;
    padding-top: 80px;
}

.wrap p{
    color: gray;
    text-align: center;
    font-family: 'Kalam', cursive;
    padding-top: 1%;
    padding-bottom: 4%;
}
.wrap .bar{
    margin-left: 10%;
}
.bar{
    background: lightskyblue;
    width: 0;
    margin: .25em 0;
    color: #fff;
    position: relative;
}
.bar .label{
    font-size: .751m;
    padding: 1em;
    background: #212121;
    width: 7em;
    display: inline-block;
    position: relative;
    font-weight: bold;
}
.bar .label .second{
    background: #333;
}
.count{
    position: absolute;
    right: .25em;
    top: .75em;
    padding: .15em;
    font-size: .75em;
    font-weight: bold;
}
.publisher-container p{
    padding-top: 2%;
    padding-left: 10%;
    padding-right: 10%;
}



